/* Reset and body styling */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Global h1 styling */
h1 {
  font-size: 4.2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0px;
}

h3 {
  font-size: 2rem;
  margin-top: 25px;
  margin-bottom: 15px;
}

h4 {
  font-size: 2rem;
  margin-top: 25px;
  margin-bottom: 15px;
  text-decoration: underline;
}

h5 {
  color: #001f3f;
  font-size: 1.1rem;
  margin-top: 0px;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 0.9rem;
  }
}

.light-btn {
  display: inline-block;
  padding: 20px 40px;
  background-color: #43b7ff;
  color: #001f3f;
  text-decoration: none;
  border-radius: 35px;
  font-weight: bold;
  margin-top: 10px;
}

.light-btn:hover {
  background-color: white;
}

.dark-btn {
  display: inline-block;
  padding: 20px 40px;
  background-color: #001f3f;
  color: white;
  text-decoration: none;
  border-radius: 35px;
  font-weight: bold;
  margin-top: 10px;
  border: 0px;
  cursor: pointer;
}

.dark-btn:hover {
  background-color: #007bff;
}

.icon {
  background-color: #007bff;
  width: 100px;
  height: 50px;
}

.nav-cta {
  flex: 1;
  text-align: right;
}

.nav-cta a {
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #001f3f;
  font-weight: bold;
  padding: 18px 40px;
  border-radius: 25px;
}

.nav-cta a:hover {
  background-color: #007bff;
}

/* Header styling */
header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  padding: 10px 20px;
  margin-top: 30px;
  background-color: white;
  border-radius: 20px;
  z-index: 2;
  transition: all 0.3s ease;
}

/* Sticky header styling */
header.sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  border-radius: 0; /* Remove border radius */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.logo {
  flex: 1;
  text-decoration: none;
  color: #001f3f;
}

.nav {
  flex: 2;
  position: relative;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin: 0 20px;
}

.nav-list a {
  text-decoration: none;
  color: #001f3f;
  font-weight: bold;
  font-size: 15px;
}

.nav-list a:hover {
  color: #007bff;
}

/* Hamburger menu styling */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
  border-radius: 8px;
  background-color: #001f3f; /* Dark blue background */
  transition: background-color 0.3s ease;
  width: 50px;
  height: 50px;
  margin-top: -7px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

/* Transform hamburger into 'X' */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 8px;
}

.hamburger.active span:nth-child(2) {
  opacity: 0; /* Hide the middle bar */
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -8px;
}

/* Responsive Styling */
@media (max-width: 1024px) {
  header {
    display: block;
    width: 90%;
  }

  .logo {
    position: relative;
    top: 25px;
  }

  .nav {
    display: block;
  }

  .nav-list {
    display: none; /* Hide the navigation links */
  }

  .nav-cta {
    display: none; /* Hide the CTA button */
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  .nav-list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 60px;
    background-color: rgb(252, 252, 252);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-list.active li {
    margin: 15px 0;
  }

  .nav-list.active li a {
    font-size: clamp(15px, 2vw, 24px);
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero-banner {
  width: 100%;
  height: 350px;
  background-color: #001f3f;
  margin-top: -120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-banner h1 {
  color: white;
  margin-top: 120px;
}

@media (max-width: 1024px) {
  #hero-banner {
    height: 275px;
  }
}

/* ABOUT SECTION */
#about-section {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1350px;
  width: 100%;
  padding: 50px 40px;
}

.about-image {
  flex: 1;
}

.about-text {
  flex: 3;
  margin-left: 50px;
}

.about-image img {
  min-width: 100px;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .about {
    flex-direction: column;
    align-items: start;
    padding: 40px 20px;
  }

  .about-image {
    max-height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  .about-image img {
    max-width: 100%; /* Ensure image is responsive */
    height: auto; /* Maintain aspect ratio. */
  }

  .about-text {
    order: -1;
    margin-left: 0px;
  }
}

#services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1350px;
  padding: 50px 40px;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  margin-top: 25px;
}

.service {
  border: 3px solid #001f3f;
  border-radius: 20px;
  padding: 40px;
}

.service a {
  color: #333;
  text-decoration-color: #001f3f;
}

/* BENEFITS SECTION */
#benefits-section {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  max-width: 1350px;
  width: 100%;
  padding: 50px 40px;
}

#portfolio-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 1350px;
  padding: 50px 40px;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

/* Overlay background */
.portfolio-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-item h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  white-space: nowrap;
  z-index: 2;
}

/* FAQ SECTION */
#faq-section {
  width: 100%;
  background-color: #001f3f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

#faq-section h5 {
  color: white;
}

.questions {
  display: grid;
  grid-template-columns: repeat(1fr);
  max-width: 1350px;
  width: 100%;
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.question {
  border: 2px solid #f2f2f2;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.question-title {
  cursor: pointer;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}

.question-answer {
  display: none; /* Hide answers by default */
  padding: 10px 0;
  color: #f2f2f2;
  margin: 0;
}

#contact-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align the section contents to the left */
  width: 100%; /* Ensure the section takes full width */
  max-width: 1350px;
  padding: 50px 40px;
}

form {
  width: 100%; /* Ensure form takes up full width of its container */
}

form .form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}

form .form-row p {
  flex: 1;
  margin-bottom: 0;
}

form p {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%; /* Make the inputs and textarea take up full width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

form textarea {
  min-height: 150px;
}

.thank-you-message h3 {
  color: #ccc;
}

/* Media Query for max-width 1024px */
@media (max-width: 1024px) {
  form .form-row {
    flex-direction: column; /* Stack elements vertically */
    gap: 0px;
  }
}

footer {
  width: 100%;
  height: 300px;
  background-color: #001f3f;
}
